@import "vars";

body {
  font-family: $body-font;
  margin: 0 0;
  padding: 0 0;
}
* {
  -webkit-tap-highlight-color: transparent;
  outline-style: none;
  font-family: $body-font;
}
header {
  position: relative;
  display: flex;
  background-color: $blue;
  align-items: center;
  height: 90px;

  h1 {
    font-family: $title-font;
    margin-left: 6rem;
    font-size: 1.7rem;
    color: $yellow;
    span {
      font-family: $title-font;
      color: $orange;
    }
  }
  p {
    color: $grey-light;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: 10px;
  }
  input {
    padding-left: 10px;
    padding-right: 26px;

    height: 1.7rem;
    width: 9rem;
    border-radius: 150px;
    margin-right: 4rem;
    border: none;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.29);
  }
  button {
    position: absolute;
    cursor: pointer;
    border: none;
    right: 4.3rem;
    align-self: center;
    background: none;
    height: 14px;

    img {
      height: 14px;
      padding-right: 5px;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 915px) {
  header {
    height: 70px;

    h1 {
      margin-left: 1.5rem;
    }
    p,
    input {
      display: none;
    }
  }
}
